<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="style.css" type="text/css">
    <title>Pokemon App</title>
</head>

<body>
    <div class="container">
        <h1>Edit Pokemon Page</h1>
        <form action="/<%=id%>?_method=PUT" method="POST">
            <!--  NOTE: the form is pre-populated with values for the server-->
            NAME: <input type="text" name="name" /><br />
            TYPE: <input type="text" name="type" /><br />
            HP: <input type="text" name="hp" /><br />
            ATTACK: <input type="text" name="attack" /><br />
            DEFENSE: <input type="text" name="defense" /><br>
            <input type="submit" name="" value="Submit Changes" />
        </form>
    </div>
</body>

</html>