<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" type="text/css">
    <title>Create A New Pokemon</title>
</head>

<body>
    <div class="container">
        <h1>New Pokemon Page</h1>
        <!--  NOTE: action will be the route, method will be the HTTP verb-->
        <form action="/" method="POST">
            NAME: <input type="text" name="name" /><br />
            TYPE: <input type="text" name="type" /><br />
            HP: <input type="text" name="hp" /><br />
            ATTACK: <input type="text" name="attack" /><br />
            DEFENSE: <input type="text" name="defense" /><br>
            <input type="submit" value="Create Pokemon" />
        </form>
    </div>
</body>

</html>